.header{
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.sidebar{
  display: inline-block;
  background-color: white;
  overflow: auto;
  width: 15%;
  height: calc(100vh);
}

.sidebar img{
  padding: 20px 30px;
}

.sidebar-list{
  padding-left: 10px;
}

li{
  list-style-type: none;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

li:hover{
  cursor: pointer;
  color: blue;
}

.fas::before{
  margin-right: 14px;
}

.body-wrapper{
  display: inline-block;
  background-color: #edededc7;
  min-height: 90vh;
  top: 70px;
  width: 85%;
  position: fixed;
}

p{
  margin-bottom: 0.3rem;
}